
	{% if heading %}<h2 class="heading-medium">{{ heading }}</h2>{% endif %}
	<div class="form-group {% if errors %}error{% endif %}">
		<fieldset>
			<legend>
			  <label class="form-label" for="{{ id }}"> {{ label }} {% if isRequired == FALSE %}(optional){% endif %}
				<span class="form-hint"> {{ hint }} </span>
			    {% if errors %}
			    	<span class="error-message" >{{ validationErrorMessage }}</span>
			    {% endif %}
			  </label> 
			</legend>
	
		{% if isDisabled == FALSE %}
			<input class="form-control {% if errors %}form-control-error{% endif %}" name="{{ name }}" id="{{ id }}" value="{{ value }}"/>
		{% endif %}
		{% if isDisabled == TRUE %}
		    <p>{{ value }}</p>
		    <input type="hidden" value="{{value}}" name="{{ name }}" id="{{ id }}"/>
	    {% endif %}
		</fieldset>
	</div>
