<div class="form-section">
	{% if heading %}<h2 class="heading-medium">{{ heading }}</h2>{% endif %}
	<div class="form-group {% if errors %}form-group-error{% endif %}">
		<fieldset>
			<label class="form-label" for="{{id}}">
			{{label}} {% if isRequired == FALSE %}(optional){% endif %}
			<span class="form-hint"> {{ hint }} </span>
			{% if errors %}
			<span class="error-message" >{{ validationErrorMessage }}</span>
			{% endif %}
			</label>
			<input type="file" id="{{id}}" name="{{name}}">
		</fieldset>
	</div>
</div>