{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{#
	{{ dump(message_list) }}
	{{ dump(status_headings) }}
	{{ dump(display) }}
	{{ dump(attributes) }}
#}

{% set errorState = FALSE %}
{% for type, messages in message_list %}
	{% if type == 'error' %}
		{% set errorState = TRUE %}
	{% endif %}
{% endfor %}

{% if errorState %}
<div class="error-summary" role="group" aria-labelledby="error-summary-display" tabindex="-1">
	<h1 class="heading-medium error-summary-heading" id="error-summary-display">
    You need to complete this section
	</h1>
{% endif %}
	{% for type, messages in message_list %}
	  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
	    {% if type == 'error' %}
	      <div role="alert">
	    {% endif %}
	      {% if status_headings[type] %}
	        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
	      {% endif %}
	      {% if messages|length > 1 %}
	        <ul class="error-summary-list">
	          {% for message in messages %}
	            <li>{{ message }}</li>
	          {% endfor %}
	        </ul>
	      {% else %}
	      	<ul class="error-summary-list">
	        <li>{{ messages|first }}</li>
	    	</ul>
	      {% endif %}
	    {% if type == 'error' %}
	      </div>
	    {% endif %}
	  </div>
	{% endfor %}
{% if errorState %}
</div>
{% endif %}
