
  {% if heading %}<h2 class="heading-medium">{{ heading }}</h2>{% endif %}
  <div class="form-group {% if errors %}form-group-error{% endif %}">
    <label class="form-label-bold" for="{{ id }}">
      {{ label }} {% if isRequired == FALSE %}(optional){% endif %}
      <span class="form-hint">{{ hint }}</span>
      {% if errors %}
      	<span class="error-message">{{ validationErrorMessage }}</span>
      {% endif %}
    </label>
    
    {% if isDisabled == FALSE %}
    <textarea class="form-control {% if errors %}form-control-error{% endif %}" id="{{ id }}" name="{{ name }}" cols="30" rows="10" >{{ value }}</textarea>
    {% endif %}
    {% if isDisabled == TRUE %}
    <p>{{ value }}</p>
    <input type="hidden" value={{value}} name="{{ name }}"/>
    {% endif %}

  </div>
