{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'print-area',
    'form-group'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

{% if quarterView == TRUE %}
  <div class="grid-row">
    <div class="column-quarter">
      <h2 class="heading-medium">Filter by</h2>
      <form>
        <div class="form-group" id="{{ id }}">
          <fieldset>
            <legend>
              <label class="form-label" for="filter-by-name">Name
              <span class="form-hint">Enter keyword(s)</span>
                {% if errors %}
                  <span class="error-message" >{{ validationErrorMessage }}</span>
                {% endif %}
              </label>
            </legend>
            <input class="form-control" id="filter-by-name" name="filter_by_name" value=""/>
          </fieldset>
          <fieldset>
            <label class="form-label" for="sort-order">Sort by
              <span class="form-hint"></span>
            </label>
            <select class="form-control" name="sort_by" id="sort-order">
                <option value=""></option>
                <option value="desc">A-Z</option>
                <option value="asc">Z-A</option>
            </select>
          </fieldset>
        </div>
      </form>
    </div>
    <div class="column-three-quarter">
      {{ rows }}
    </div>
  </div>

{% else %}
  {{ rows }}
{% endif %}

  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
	
</div>
<div class="grid-row">
  <div class="column-full">
    <div class="form-section">
    <div class="form-group">
    <a rel="nofollow" href="{{ csvDownloadUrl }}" target="_self">Download as a CSV file</a>
    </div>
    <div class="form-group">
    <a class="print" rel="nofollow" href="#" target="_self">Print</a>
    </div>
    <div class="form-group">
    <a class="button" href="/journeyselector/form/select" id="go-home" target="_self">Exit journey</a>
    <div class="form-group">
    </div>
    </div>
    </div>
  </div>
</div>


