{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}
{% spaceless %}
<div class="wrapper__{{ id }}">
	{% if heading %}<h2 class="heading-medium">{{ heading }}</h2>{% endif %}
	<div class="form-group {% if errors %}form-group-error{% endif %}">
		<fieldset>
			<label class="form-label" for="{{ id }}"> {{ label }} {% if isRequired == FALSE %}(optional){% endif %}
				<span class="form-hint"> {{ hint }} </span>
			</label>
		    {% if errors %}
		    	<span class="error-message" >{{ validationErrorMessage }}</span>
		    {% endif %}
		    {% if isDisabled == FALSE %}
			<select class="form-control {% if errors %}form-control-error{% endif %}" name="{{ name }}" id="{{ id }}">
			{% for option in options %}
			  {% if option.type == 'optgroup' %}
			    <optgroup label="{{ option.label }}">
			      {% for sub_option in option.options %}
			        <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
			      {% endfor %}
			    </optgroup>
			  {% elseif option.type == 'option' %}
			    <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
			  {% endif %}
			{% endfor %}
			</select>
			{% endif %}
			{% if isDisabled == TRUE %}
		    <p>{{ default_value }}</p>
		    <input type="hidden" value="{{default_value}}" name="{{ name }}" id="{{ id }}"/>
		    {% endif %}
		</fieldset>
	</div>
</div>
{% endspaceless %}