{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

<div class="grid-row">
  <div class="column-third">
    <h2 class="bold-large">{{ businessName }}</h2>
    <h3 class="bold-medium">{{ paName }}</h3>
  </div>
  <div class="column-third">&nbsp;</div>
  <div class="column-third">
    <address>{{ businessName }}<br>{{ businessAddress }}<br>{{businessTownCity}}<br>{{businessPostcode}}</address>
  </div>
</div>

<div class="grid-row">
  <div class="column-third">
    <p class="heading-medium">Partner since</p>
    <p>{{ partnershipEstablishedDate }}</p>
  </div>
  <div class="column-third">&nbsp;</div>
  <div class="column-third">
    <h4 class="heading-medium">Primary authority for</h4>
    {{ paAreasOfAdvice }}
  </div>
</div>

<div class="grid-row">
  <div class="column-third">
    <h4 class="heading-medium">About the business</h4>
    <p>{{ businessBio }}</p>
    <h4 class="heading-medium">About the Partnership</h4>
    <p>{{ partnershipBio }}</p>
  </div>
  <div class="column-third">
    <h4 class="heading-medium">Documents</h4>
    <div class="partnership-notices">
      <h4>Enforcement action</h4>
      <span>{{ enforcementActionDocumentLinks }}</span>
    </div>
    <div class="partnership-document">
      <h4>Primary authority advice for local authorities</h4>
      <span>{{ adviceForLaLinks }}</span>
    </div>

    <div class="partnership-document">
      <h4>Primary authority advice for business</h4>
      <span>&nbsp;</span>
    </div>

      {% if isCherwell %}

      <div class="areas-of-advice">
        <p class="collapse">
          <a class="facet no-link" href="#">Environmental health</a>
        </p>
         <span>{{ adviceEnvironmentalHealthLinks }}</span>
      </div>

      <div class="areas-of-advice">
        <p class="collapse">
          <a class="facet no-link" href="#">Licensing</a>
        </p>
        <span>{{ adviceLicensingLinks }}</span>
      </div>

      {% endif %}

      {% if isHertfordshire %}

      <div class="areas-of-advice">
        <p class="collapse">
          <a class="facet no-link" href="#">Explosives</a>
        </p>
        <span>{{ adviceExplosivesLinks }}</span>
      </div>

      <div class="areas-of-advice">
        <p class="collapse">
          <a class="facet no-link" href="#">Fire safety</a>
        </p>
        <span>{{ adviceFireSafetyLinks }}</span>
      </div>

      <div class="areas-of-advice">
        <p class="collapse">
          <a class="facet no-link" href="#">Petrol storage</a>
        </p>
        <span>{{ advicePetrolStorageLinks }}</span>
      </div>

      <div class="areas-of-advice">
        <p class="collapse">
          <a class="facet no-link" href="#">Trading standards</a>
        </p>
        <span>{{ adviceTradingStandardsLinks }}</span>
      </div>
      {% endif %}

    <div class="partnership-document">
      <h4>Inspection plan</h4>
       <span>{{ adviceForBusinessLinks }}</span>
    </div>



  </div>

  <div class="column-third">
    <h4 class="heading-medium">Contacts</h4>
    <div class="partnership-contacts">
      <h4>Primary authority</h4>
      <ul>
        <li>{{ paContactName }}</li>
        <li>{{ paContactPhone }}</li>
        <li>{{ paContactEmail }}</li>
      </ul>
    </div>
    <div class="partnership-contacts">
      <h4>Business</h4>
      <ul>
        <li>{{ businessContactRole }}</li>
        <li>{{ businessContactName }}</li>
        <li>{{ businessContactPhone }}</li>
        <li>{{ businessContactEmail }}</li>
      </ul>
    </div>
  </div>
</div>

{#  
{% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %}
  #}