{% if customFields %}
	{% for field in customFields %}
		{% if field.type == 'textfield' %}
			<div class="form-group {% if field.error %}error{% endif %}">
			<fieldset>
				<legend>
				  <label class="form-label" for="{{ field.id }}"> {{ field.heading }} {% if isRequired == FALSE %}(optional){% endif %}
				  	<span class="form-hint"> {{ field.hint }} </span>
				    {% if field.error %}
				    	<span class="error-message" >{{ field.validationErrorMessage }}</span>
				    {% endif %}
				  </label> 
				</legend>
			  <input class="form-control {% if field.error %}form-control-error{% endif %}" name="{{ field.name }}" id="{{ field.id }}"/>
			</fieldset>
			</div>
		{% endif %}
		{% if field.type == 'select' %}
			<div class="form-group {% if field.error %}error{% endif %}">
				<fieldset>
				<legend>
					<label class="form-label" for="{{ field.id }}"> {{ field.heading }}{% if isRequired == FALSE %}(optional){% endif %}
					<span class="form-hint"> {{ field.hint }} </span>
					</label>
				    {% if field.error %}
				    	<span class="error-message" >{{ field.validationErrorMessage }}</span>
				    {% endif %}
					<select class="form-control {% if field.error %}form-control-error{% endif %}" name="{{field.name}}" id="{{ field.id }}">
					{% for option in field.options %}
						<option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
					{% endfor %}
					</select>
				</legend>
				</fieldset>
			</div>
		{% endif %}
		{% if field.type == 'submit' %}
			<div class="form-group">
  				<input class="button" {% if field.id %}id="{{ field.id }}"{% endif %} name="{{ field.name }}" type="submit" value="{{ field.value }}">
			</div>
		{% endif %}
	{% endfor %}
{% endif %}