<div id="{{ id }}">
	{% if heading %}<h2 class="heading-medium">{{ heading }}</h2>{% endif %}
	{% if label %}<h3 class="heading-medium">{{ label }}</h3>{% endif %}
	{% for key, value in content %}
		{% if value is iterable %}
			<div>
			{% for a, b in value %}
			{% if a %}<h3 class="heading-small">{{ a }}</h3>{% endif %}
			{% if b %}<p>{{ b | raw }}</p>{% endif %}
			<div>
			{% endfor %}
		{% else %}
			{% if value %}<p>{{ value | raw }}</p>{% endif %}
		{% endif %}
	{% endfor %}
	{% if isEditable %}<a href="{{ editLink }}" target="_self">{{ editLabel }}</a>{% endif %}
</div>