{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" {{ html_attributes }}><!--<![endif]-->
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <meta charset="utf-8" />
    <title>{{ head_title|safe_join(' | ') }}</title>

    <link rel="shortcut icon" href="/themes/custom/par_theme/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/themes/custom/par_theme/assets/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/themes/custom/par_theme/assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/themes/custom/par_theme/assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/themes/custom/par_theme/assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="/themes/custom/par_theme/assets/images/apple-touch-icon-60x60.png">

    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/themes/custom/par_theme/assets/images/opengraph-image.png">
  </head>
<body {{ attributes }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
