{#
/**
 * @file
 * Default theme implementation to display a pagerer style.
 *
 * Available variables:
 * - style: The pagerer style being rendered.
 * - id: The id attribute (used to link with the widget state in
 *   drupalSettings).
 * - embedded: Flag to indicate if the pager is embedded (used by the
 *   scrollpane style).
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page.
 *   - previous: Item for the previous page.
 *   - prefix: Text to be presented before the first page of results.
 *   - pages: List of pages, separators, breakers, and pagerer widgets.
 *   - suffix: Text to be presented after the last page of results.
 *   - next: Item for the next page.
 *   - last: Item for the last page.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages can contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 *   - title: The text for the title attribute, used to present help text to
 *     user when hovering with the mouse on the element.
 *   - reader_text: The text used for the item link by automated readers.
 *   - is_current: Flag to indicate if the page displayed is the current in
 *     the pager.
 *   - is_separator: Flag to indicate if the item displayed is a separator.
 *   - is_breaker: Flag to indicate if the item displayed is a breaker.
 *   - widget: An item to be rendered as a widget.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'govuk-pagination'
  ]
%}
{% set nav_label =  'pagination-heading-' ~ random(1000) %}


{% if items %}
  <nav {{ attributes.addClass(classes) }} role="navigation" aria-labelledby="{{ nav_label }}" {%- if id %} id="{{ id }}"{% endif -%}>

    {% if items.first %}
      {% if items.first.href is defined %}
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="{{ items.first.href }}" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">{{- items.first.text -}}</span></a>
      </div>
      {% else %}
        <div class="govuk-pagination__prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">{{- items.first.text -}}</span>
        </div>
      {% endif %}
    {% endif %}

    <ul class="govuk-pagination__list">

      {% for key, item in items.pages %}
        {% if item.is_breaker %}
          <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
        {% elseif item.is_separator %}
          <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
        {% elseif item.widget %}
          <li class="govuk-pagination__item">
            {{ item.widget }}
          </li>
        {% elseif item.href is defined %}
          <li class="govuk-pagination__item {{ item.is_current ? 'govuk-pagination__item--current' : '' }}">
            {% if item.is_current %}
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="{{- item.reader_text -}}" aria-current="page">
                {{- item.text -}}
              </a>
            {% else %}
              <a class="govuk-link govuk-pagination__link" href="{{ item.href }}" {{ item.attributes|without('href', 'title') }} aria-label="{{- item.reader_text -}}">
                {{- item.text -}}
              </a>
            {% endif %}
          </li>
        {% else %}
          <li class="govuk-pagination__item" role="presentation">{{- item.text -}}</li>
        {% endif %}
      {% endfor %}
    </ul>

    {% if items.next %}
      {% if items.next.href is defined %}
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="{{ items.next.href }}" rel="next">
          <span class="govuk-pagination__link-title">{{- items.next.text -}}</span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
      {% else %}
        <div class="govuk-pagination__next">
          <span class="govuk-pagination__link-title">{{- items.next.text -}}</span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
        </div>
      {% endif %}
    {% endif %}

  </nav>
{% endif %}
