{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element (default).
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 * @see par_theme_preprocess_fieldset()
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
    'govuk-fieldset',
  ]
%}
<div class="govuk-form-group{% if errors %} govuk-form-group--error{% endif %}">
  <fieldset{{ attributes.addClass(classes) }}>
    {%
      set legend_span_classes = [
        'fieldset-legend',
        required ? 'js-form-required',
        required ? 'form-required',
        'govuk-fieldset__heading',
      ]
    %}
    {% set title_tag = legend.title_tag ?: 'span' %}
    {#  Always wrap fieldset legends in a SPAN for CSS positioning. #}
    <legend{{ legend.attributes.addClass('govuk-fieldset__legend', 'govuk-fieldset__legend--m') }}>
      <{{ title_tag }}{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</{{ title_tag }}>
    </legend>
      {% if description.content %}
        <div{{ description.attributes.addClass('govuk-hint') }}>{{ description.content }}</div>
      {% endif %}
      {% if errors %}
        <span class="error-message govuk-error-message">
          {{ errors | striptags('<p>') }}
        </span>
      {% endif %}
      {% if prefix %}
        <span class="field-prefix govuk-hint">{{ prefix }}</span>
      {% endif %}
      {{ children }}
      {% if suffix %}
        <span class="field-suffix">{{ suffix }}</span>
      {% endif %}
  </fieldset>
</div>
